<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.desandoval.apps.schedule" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <meta-data android:name="DATABASE" android:value="app_days.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME"
            android:value="net.desandoval.apps.schedule.data" />

        <activity
            android:name="net.desandoval.apps.schedule.DayListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.desandoval.apps.schedule.DayDetailActivity"
            android:label="@string/title_day_detail"
            android:parentActivityName="net.desandoval.apps.schedule.DayListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DayListActivity" />
        </activity>
    </application>

</manifest>
